GroupProject/BookStore.Business.Components/Service References/DeliveryServiceRef/DeliveryCo.MessageTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DeliveryCo.MessageTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DeliveryCo.MessageTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DeliveryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeliveryIdentifier" type="ser:guid" />
      <xs:element minOccurs="0" name="DeliveryNotificationAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryInfo" nillable="true" type="tns:DeliveryInfo" />
</xs:schema>